    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2>About this conference </h2>
                <p>Recent years have seen an increasing interest of the astronomical community
                on the topic of super-Eddington accretion on compact objects, which can
                apply to a variety of systems, such as supermassive black holes, black hole
                binaries, ULXs, neutron stars. Moreover, the possibility that the Eddington
                limit may be violated can have important implications for the related topics
                of black hole growth, galaxy evolution and AGN feedback.</p>

                <p>This workshop will be an opportunity to have fun!</p>


            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1" style='text-align: left'>
                </br>
                <h2>Scientific Organizing Committee</h2>
                Matteo Bachetti (co-chair) - INAF Cagliari, Italy</br>
                Paola Castangia - INAF Cagliari, Italy</br>
                Tiziana di Salvo - University of Palermo, Italy</br>
                Chris Done - Durham University, UK</br>
                Andrew King - University of Leicester, UK</br>
                Rodrigo Nemmen - University of Sao Paulo, Brazil</br>
                Ken Ohsuga - National Astronomical Observatory of Japan, Japan</br>
                Alberto Pellizzoni - INAF Cagliari, Italy</br>
                Katja Pottschmidt - NASA Goddard Space Flight Center, USA</br>
                Chris Reynolds - University of Maryland, College Park, USA</br>
                Joe Silk - Institut de Astrophysique de Paris, France</br>
                Alexander Tchekovskoy - University of California, Berkeley, USA</br>
                Francesco Tombesi (chair) - University of Rome "Tor Vergata", Italy</br>
                Marta Volonteri - Institut de Astrophysique de Paris, France

            </div>
            <div class="col-md-5" style='text-align: left'>
                                </br>
                <h2>Local Organizing Committee</h2>
                Matteo Bachetti (chair)</br>
                TBD
            </div>
        </div>
    </section>
