    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2>About this conference </h2>
                <p>Recent years have seen an increasing interest of the astronomical community
                on the topic of super-Eddington accretion on compact objects, which can
                apply to a variety of systems, such as supermassive black holes, black hole
                binaries, ULXs, neutron stars. Moreover, the possibility that the Eddington
                limit may be violated can have important implications for the related topics
                of black hole growth, galaxy evolution and AGN feedback.</p>

                <p>This workshop will be an opportunity to compare recent observations with
                state-of-the-art theoretical modeling of super-Eddington flows, and to
                discuss the cosmological implications of this regime of accretion.</p>


            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1" style='text-align: left'>
                </br>
                <h2>Scientific Organizing Committee</h2>
                Matteo Bachetti (co-chair) - INAF Cagliari, Italy</br>
                Paola Castangia - INAF Cagliari, Italy</br>
                Tiziana di Salvo - University of Palermo, Italy</br>
                Chris Done - Durham University, UK</br>
                Fiona Harrison - California Institute of Technology, USA</br>
                Andrew King - University of Leicester, UK</br>
                Rodrigo Nemmen - University of Sao Paulo, Brazil</br>
                Ken Ohsuga - National Astronomical Observatory of Japan, Japan</br>
                Alberto Pellizzoni - INAF Cagliari, Italy</br>
                Katja Pottschmidt - NASA Goddard Space Flight Center, USA</br>
                Chris Reynolds - University of Maryland, College Park, USA</br>
                Joe Silk - Institut de Astrophysique de Paris, France</br>
                Alexander Tchekovskoy - University of California, Berkeley, USA</br>
                Francesco Tombesi (chair) - NASA Goddard Space Flight Center, USA</br>
                Marta Volonteri - Institut de Astrophysique de Paris, France

            </div>
            <div class="col-md-5" style='text-align: left'>
                                </br>
                <h2>Local Organizing Committee</h2>
                Matteo Bachetti (chair)</br>
                Marta Burgay</br>
                Tiziana Coiana</br>
                Elise Egron</br>
                Noemi Iacolina</br>
                Andrea Tarchi</br>
                Alessio Trois</br>
            </div>
        </div>
    </section>
