    <!-- Map Section
    <div id="map"></div> -->
    <div style="margin: auto; width=100%">

    </div>
    <div class="intro-body" style="background: url({{ site.baseurl }}/img/map.jpg)  no-repeat bottom center scroll; margin-top:100px">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2" style="text-align: center; height: 300px; line-height:300px">
        <span style="display: inline-block; vertical-align: middle; line-height: normal;"><a href="https://www.google.it/maps/place/Sant'Elmo+Beach+Hotel+-+Blu+Hotels/@39.2124015,9.5560296,2437m/data=!3m1!1e3!4m5!3m4!1s0x12e0ea927acbb9ef:0x6cfc09bf3a8094f6!8m2!3d39.212946!4d9.565707" style="color: #FFFFFF;">
            <h3 class="brand-heading" style="font-size:300%;">See map on Google</h3>
        </a></span>
                </div>
            </div>
        </div>
    </div>
