<section id="invited" class="container content-section text-center">

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>Invited speakers per session</h2>

        <p>The program will be divided into themes, covering around half/one day each.
        A discussion on the topics of the session will take place at the end of each
        session, coordinated by an invited moderator.</p>

        <b>Accretion and ejection physics </b><br />

        John DSasha Tchekovskoy (Northwestern University, USA) <br /><br />
        
        <b>Black hole growth and galaxy evolution </b><br />

        Marianne Vestergaard (University of Copenhagen) <br /><br />
        
        <b>Active Galactic Nuclei and quasars </b><br />

        Nadia Zakamska (Johns Hopkins University) <br /><br />
        
        <b>Galactic super-Eddington black holes and neutron stars</b><br />

        Diego Altamirano (University of Southampton) <br /><br />
        
        


        <b>New and future observatories</b><br />

        Mario Rossi (INAF, Italy)<br />
        


    </div>
</div>
</section>
