    <!--
    <!-- Download Section -->
    <section id="venue" class="content-section text-center">
        <div class="venue-section">
            <div class="container">
                <div class="col-md-8 col-md-offset-2" style="background-color:rgba(0,0,0,0.7)">
                    <h2>Venue</h2>
                    <p>The venue will be the Sant'Elmo Beach Hotel, close to Castiadas (CA). <br />
                      We strongly encourage participants to book a room in the Resort, discounted prices are available
                      for the participants. 
                      Please contact <a href="mailto:luisaserra@kassiopeanews.com"> Kassiopea </a>
                       to take advantage of the discounted rates.</p>
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="http://www.hotelsantelmobeach.it/en/" class="btn btn-default btn-lg">Resort website</a>
                        </li>
                        <li>
                            <a href={{ site.baseurl }}/travel class="btn btn-default btn-lg">Travel information</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    -->
