<!-- Download Section -->
     <section id="venue" class="content-section text-center">
        <div class="venue-section">
            <div class="container">
                <div class="col-md-8 col-md-offset-2" style="background-color:rgba(0,0,0,0.7)">
                    <h2>Venue</h2>
                    <p> Sant'Elmo Beach Hotel is located in Costa Rei, in the southeast part of Sardinia,
                       in one of the most beautiful stretches of shore of the island. <br />  <br />
                       FOR HOTEL BOOKING PLEASE CONTACT: <a href="mailto:luisaserra@kassiopeanews.com"> luisaserra@kassiopeanews.com</a> <br />
                    </p>
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="mailto:luisaserra@kassiopeanews.com" class="btn btn-default btn-lg">BOOK NOW</a>
                        </li>
                        <li>
                            <a href={{ site.baseurl }}/travel class="btn btn-default btn-lg">Travel information</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

<!--

<!-- Venue Section 
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2>Sant'Elmo Beach Hotel </h2>
                <p> The hotel has a restaurant and two bars, one located directly on the beach.<br />
                     At guests’ disposal are also a wide swimming pool with equipped solarium, a sport area with
                     five-a- side soccer field and two tennis fields, a bazar, an area dedicated to the animation
                     activities and a playground for the little guests. <br /> <br />
                    The hotel is at 400 meters from the private beach,<br />
                     which is equipped with sunbeds and umbrellas. <br />
                    For those looking for a more reserved area, there are many sand and rock bays.
                </p>
            </div>
        </div>
         
         
         <div style="float:center;">
              <img src={{ site.baseurl }}/img/spiaggia.jpg height="400px;"></img>
            </a>
          </div>
         
         
     <section id="about" class="container content-section text-left">
         <div class="row">
               <h3> ROOMS </h3>
               <p> 70/90 rooms (on request and upon availability) between double and double use single. <br />
                    To book please send an email to <a href="mailto:luisaserra@kassiopeanews.com"> luisaserra@kassiopeanews.com</a>
               </p> 
         </div>
          
         <div class="row">
               <h3> RATES </h3>
               <p> <B><I>€ 61,00</B></I> per person, per night in double room category Cottage in Full Board <SUP>*</SUP>; <br />
                    <B><I>€ 94,00</B></I> per room, per night in double use single room
                              category Cottage in Full Board <SUP>*</SUP>. <br /><br />
                    <B>Reduction 3°/4° bed:</B> <br />
                         From 0 to 11 yo 40% <br />
                         From 12 yo on 15% <br /><br />
                    
                         Check-in from 5 pm <br /> 
                         Check-out within 10 am
               </p>
              <br />
              <p>
                    <SUP>*</SUP> <I>Full board includes buffet service meals and drinks (wine of the house and water). The service
                    starts with the dinner of the arrival day and ends with the lunch of departure day.</I><br /> 
                    
              </p>
          </div>
              
              
          <div class="row">
               <h3> SERVICES INCLUDED:</h3>
                    <p> Wi-Fi in common areas;  <br />
                        Free parking (no reservation - upon availability).
                    </p> 
          </div>
          
          <div class="row">
               <h3> EXTRA:</h3>
                    
          
          
          
               <TABLE style="WIDTH: 80%;">
                    <TBODY>
                         <TR>
                             <TD class="layout_tdheader" style="WIDTH: 25%">
                                   Cottage Sea View
                             </TD>
                             <TD class="layout_tdheader" style="WIDTH: 25%">
                                   + €45.00 per room,day
                             </TD>
                         </TR>
                         
                         <TR>
                            <TD class="layout_td">
                              Family Room
                            </TD>
                            <TD class="layout_td">
                               + €88.00 per room,day
                            </TD>
                          </TR>
                              
                          <TR>
                               <TD class="layout_tdheader" style="WIDTH: 25%">
                                   De Luxe Sea view
                             </TD>
                             <TD class="layout_tdheader" style="WIDTH: 25%">
                                   + €88.00 per room,day
                             </TD>
                          </TR>
                         
                         <TR>
                               <TD class="layout_tdheader" style="WIDTH: 25%">
                                   Suite
                             </TD>
                             <TD class="layout_tdheader" style="WIDTH: 25%">
                                   + €110.00 per room,day
                             </TD>
                          </TR>
                         
                         <TR>
                               <TD class="layout_tdheader" style="WIDTH: 25%">
                                   Crib
                             </TD>
                             <TD class="layout_tdheader" style="WIDTH: 25%">
                                   + €9.00 per room,day
                             </TD>
                          </TR>
                         
                         <TR>
                               <TD class="layout_tdheader" style="WIDTH: 25%">
                                   Small pets
                             </TD>
                             <TD class="layout_tdheader" style="WIDTH: 25%">
                                   + €17.00 per room,day
                             </TD>
                          </TR>
                         
                         <TR>
                               <TD class="layout_tdheader" style="WIDTH: 25%">
                               Beach service (1 sun umbrella and 2 sun beds in first row)  
                             </TD>
                             <TD class="layout_tdheader" style="WIDTH: 25%">
                                   + €17.00 per room,day
                             </TD>
                          </TR>
                         
                         <TR>
                               <TD class="layout_tdheader" style="WIDTH: 25%">
                                Beach service (1 sun umbrella and 2 sun beds in second/third row)   
                             </TD>
                             <TD class="layout_tdheader" style="WIDTH: 25%">
                                   + €11.00 per room,day
                             </TD>
                          </TR>
                         
                         <TR>
                               <TD class="layout_tdheader" style="WIDTH: 25%">
                                Beach service (1 sun umbrella and 2 sun beds from fourth row on)   
                             </TD>
                             <TD class="layout_tdheader" style="WIDTH: 25%">
                                   Free
                             </TD>
                          </TR>
                         
                         <TR>
                               <TD class="layout_tdheader" style="WIDTH: 25%">
                                  City tax (to be paid cash on site) 
                             </TD>
                             <TD class="layout_tdheader" style="WIDTH: 25%">
                                  
                             </TD>
                          </TR>
                         
                         <TR>
                               <TD class="layout_tdheader" style="WIDTH: 25%">
                                    <u>Everything not mentioned above</u>  
                             </TD>
                             <TD class="layout_tdheader" style="WIDTH: 25%">
                                   
                             </TD>
                          </TR>
                         
                         
                         
              
          </TBODY>
        </TABLE>
          
          <br /><br />
          <div class="row">
               <h3> COTTAGE ROOMS:</h3>
                    <p> Double rooms with external equipped patio and with possibility of 3rd/4th bed for children up to 16
                         years non completed. <br />
                         Rooms include TV, phone, hairdryer, safe and minibar. <br />
                         Maximum occupancy: 2 adults, 2 adults + baby cot, 2 adults + 1 children, 2 adults + 2 children (the
                         baby cot is not available for multiple rooms).
               
                    </p> 
          </div>    
          
         
          <div align="right";">
              <img src={{ site.baseurl }}/img/camera1.jpg height="200px;"></img>
              <img src={{ site.baseurl }}/img/camera2.jpg height="200px;"></img>
              <img src={{ site.baseurl }}/img/patio.jpg height="200px;"></img>
              <img src={{ site.baseurl }}/img/giardino.jpg height="200px;"></img>
            </a>
          </div>

    
   

      </div>
                                                                          
     -->
        

    
