<!-- Download Section -->
     <section id="venue" class="content-section text-center">
        <div class="venue-section">
            <div class="container">
                <div class="col-md-8 col-md-offset-2" style="background-color:rgba(0,0,0,0.7)">
                    <h2>Venue</h2>
                    <p> Sant'Elmo Beach Hotel is located in Costa Rei, in the southeast part of Sardinia,
                       in one of the most beautiful stretches of shore of the island. <br />  <br />
                       FOR HOTEL BOOKING PLEASE CONTACT: <a href="mailto:luisaserra@kassiopeanews.com"> luisaserra@kassiopeanews.com</a> <br />
                    </p>
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="mailto:luisaserra@kassiopeanews.com" class="btn btn-default btn-lg">BOOK NOW</a>
                        </li>
                        <li>
                            <a href={{ site.baseurl }}/travel class="btn btn-default btn-lg">Travel information</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>



<!-- Venue Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2>About the venue </h2>
                <p> The hotel has a restaurant and two bars, one located directly on the beach.<br />
                     At guests’ disposal are also a wide swimming pool with equipped solarium, a sport area with
                     five-a- side soccer field and two tennis fields, a bazar, an area dedicated to the animation
                     activities and a playground for the little guests. <br /> <br />
                    The hotel is at 400 meters from the private beach,<br />
                     which is equipped with sunbeds and umbrellas. <br />
                    For those looking for a more reserved area, there are many sand and rock bays.
                </p>
            </div>
        </div>
         
     <section id="about" class="container content-section text-left">
         <div class="row">
               <h3> ROOMS </h3>
               <p> 70/90 rooms (on request and upon availability) between double and double use single. To book
                    please send an email to <a href="mailto:luisaserra@kassiopeanews.com"> luisaserra@kassiopeanews.com</a>
               </p> 
              
    <B>
   
    </B>
        
 

      </div>

        

    
